!!!
%html
	%head
		%title BlogrSite
		= stylesheet_link_tag    "application"
		= javascript_include_tag "application"
		<script type="text/javascript" src="//use.typekit.net/puh6qow.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		= csrf_meta_tags
	%body{class: "#{controller.controller_name} #{controller.action_name}"}
		%header
			.container
				= link_to "Blogr", root_path, class: "logo"
				%nav
					%li= active_link_to "Features", features_path
					%li= active_link_to "About", about_path
					%li= active_link_to "Blog", "#"
					%li= active_link_to "Docs", "https://docs.voupe.com/blogr"
					%li= active_link_to "Blogr on GitHub", "https://github.com/blogr/engine"

		%section.main
			.container
				= yield

		%footer
			.container
				.l &copy; Copyright #{Time.now.year} Blogr.
				.r Blogr is a product of #{link_to "Voupe", "http://voupe.com"}.

		- if Rails.env.development?
			<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>